<div class="header">
  <a href="#default" class="logo">Welcome User</a>
  <div class="header-right">
    <button type="button" name="button" class="btn login_btn" >CustomerDetails</button>
    <a href="#transactionHistory">Transaction History</a>
    <a href="#">Make a Transaction</a>
    <button type="button" name="button" class="btn login_btn">Logout</button>
    <button class="button button2">Blue</button>
    <div class="form-container">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
    class="img-fluid" alt="Sample image">
      <div class="image-holder"></div>
      </div>
      <p>user works!</p>
      <table class="table">
          <thead>
            
 
 
              <th scope="col">name</th>
              <th scope="col">password</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of res">
 
              <td>{{user.username}}</td>
              <td>{{user.password}}</td>
            </tr>
          </tbody>
          </table>      


  </div>
</div>